.formControl {
	width: 100%;
	// padding: 8px 0;
	// margin-bottom: 4px;
	input[type='number'] {
		border: 1px solid #ccc;
		outline: none;
		font-size: 1em;
		padding: 4px;
		width: 100px;
		margin: 0 8px 4px 0;
	}
	label.reward {
		white-space: nowrap;
		display: inline-block;
		padding-top: 4px;
	}
}
